.header{
    text-align: center;
    color:purple;
}

.container1{
    height: 200px;
    width: 400px;
    box-sizing: border-box;
    border:2px solid black;
    display: flex;
    background-color: grey;
}
.container2{
    height: 300px;
    width: 400px;
    box-sizing: border-box;
    border:2px solid red;
    display: flex;
    background-color: aqua;
}
.container1>div{
    height: 70px;
    width: 70px;
    box-sizing: border-box;
    border: 2px solid black;
}
.container2>div{
    height: 100px;
    width: 150px;
    box-sizing: border-box;
    border:2px solid black;
}
.container1>.box1,.container1>.box4{
    flex-grow:2;
}
.container1>.box3{
    flex-grow:4;
}
.container2>.box1,.container2>.box4{
    flex-shrink:2;
}
.container2>.box3{
    flex-shrink:4;
}
.container2>.box2{
    flex-shrink:0;
}
