*{
    padding:0px;
    margin:0px;
    color:white;
    text-decoration:none;
}
#nav{
    height: 60px;
    background-color: #0f1111;
  
}
#logo{
    font-size:25px;
    color:#f08804;
    text-decoration:none;
}
#acc{
    margin-left:200px;
}
#contact{
    margin-left:200px;
}
#cart{
    margin-left:200px;
}
input{
    margin-left:200px;
    color:black;
    padding-left:2px;
}
button{
    background-color: #f08804;

}
button:hover{
    background-color: green;
}
