#square{
    height:100px;
    width:100px;
    border-style:solid;
    border-color:black;
}
#circle1{
height: 100px;
width: 100px;
text-align:center;
border-style:solid;
border-color:green;
border-radius:50%;
}
#circle2{
    box-sizing: border-box; /*Box-sizing:border-box;*/
    height: 100px;
        width:100px;
        padding-top:40px;
        text-align:center;
        border-style:solid;
        border-radius:50%;
        border-color:purple;
}
#border{
    border-width:15px;
    border-style:solid;
    border-color:red;
    border-radius:15px;

}
#border_shorthand{
        border:10px dashed blue;
}